root:
    true

env:
    browser: true
    node: true
    jest: true
    jasmine: true
    es6: true

parser:
    babel-eslint

plugins: ['react']

globals:
    __DEV__: true

rules:
    quotes: [2, "single"]
    eol-last: 2
    comma-dangle: 2
    no-cond-assign: 2
    no-constant-condition: 2
    no-debugger: 2
    # no-console: 2
    no-alert: 2
    no-dupe-args: 2
    no-dupe-keys: 2
    no-duplicate-case: 2
    no-empty: 2
    semi: 2
    no-extra-semi: 2
    no-func-assign: 2
    no-inner-declarations: 2
    no-invalid-regexp: 2
    no-irregular-whitespace: 2
    no-negated-in-lhs: 2
    no-sparse-arrays: 2
    no-unreachable: 2
    use-isnan: 2
    valid-typeof: 2
    no-unexpected-multiline: 2
    curly: 2
    default-case: 2
    no-fallthrough: 2
    no-implied-eval: 2
    no-lone-blocks: 2
    no-loop-func: 2
    no-multi-spaces: 2
    no-multi-str: 2
    no-octal: 2
    no-redeclare: 2
    no-sequences: 2
    no-throw-literal: 2
    radix: 2
    no-shadow-restricted-names: 2
    no-shadow: 2
    no-undef: 2
    no-unused-vars: 2
    no-use-before-define: 2

    block-spacing: [2, "always"]
    brace-style: [2, "1tbs", { allowSingleLine: true }]
    camelcase: [2, {properties: "always"}]
    comma-spacing: [2, {before: false, after: true}]
    comma-style: [2, "last"]
    key-spacing: [2, {beforeColon: false, afterColon: true}]
    indent: 4
